* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

[data-theme="dark"] {
	--background: hsl(207, 26%, 17%);
	--foreground: hsl(209, 23%, 22%);
  --text : hsl(0, 0%, 100%);
}

[data-theme="light"] {
	--background: hsl(0, 0%, 98%);
	--foreground: hsl(0, 0%, 100%);
  --text : hsl(200, 15%, 8%);
}
