.home-container {
	display: grid;
	/* grid-template-columns: repeat(4, 1fr); */
	grid-template-columns: repeat(auto-fill, 350px);
	background-color: hsl(207, 26%, 17%);
	align-items: center;
	justify-items: center;
	justify-content: center;
}

.countries {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	font-family: Nunito Sans;
	justify-items: center;
	align-items: center;
	margin: 7vh;
	background-color: hsl(209, 23%, 22%);
	color: hsl(0, 0%, 100%);
}

a {
	text-decoration: none;
}
.country-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.country-details {
	padding-bottom: 1.5vh;
}

.country-name {
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	font-weight: bold;
}

.country-details-span {
	font-weight: bold;
}
