.home-container {
	display: grid;
	/* grid-template-columns: repeat(4, 1fr); */
	grid-template-columns: repeat(auto-fill, 350px);
	background-color: var(--background);
	align-items: center;
	justify-items: center;
	justify-content: center;
}

.countries {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	font-family: Nunito Sans;
	justify-items: center;
	align-items: center;
	margin: 7vh;
	background-color: var(--foreground);
	color: var(--text);
}

a {
	text-decoration: none;
}
.country-img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

.country-details {
	padding-bottom: 1.5vh;
}

.country-name {
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	font-weight: bold;
}

.country-details-span {
	font-weight: bold;
}

/* CSS for mobile */

@media only screen and (max-width: 426px) {
	.countries {
		margin: 5vh;
	}
}
