.searchbar-container {
	padding-top: 3vh;
	display: flex;
	justify-content: space-between;
	padding: 2vh 5vh 2vh 5vh;
	background-color: hsl(207, 26%, 17%);
	font-family: Nunito Sans;
	color: hsl(0, 0%, 100%);
}

.searchbar-input {
	padding: 10px;
	width: 20%;
	background-color: hsl(209, 23%, 22%);
	color: hsl(0, 0%, 100%);
	border: none;
}

.searchbar-option {
	padding : 2px;
}


::placeholder {
	color: hsl(0, 0%, 100%);
	opacity: 1;
}

::-ms-input-placeholder {
	color: hsl(0, 0%, 100%);
}

.searchbar-select {
	background-color: hsl(209, 23%, 22%);
	color: hsl(0, 0%, 100%);
    padding : 10px;
}
