.searchbar-container {
	display: flex;
	justify-content: space-between;
	padding: 2vh 5vh 2vh 5vh;
	background-color: var(--background);
	font-family: Nunito Sans;
	color: var(--text);
}

.searchbar-input {
	padding: 10px;
	width: 20%;
	background-color: var(--foreground);
	color: var(--text);
	border: none;
}

.searchbar-select {
	cursor: pointer;
}

.searchbar-option {
	padding: 2px;
}

::placeholder {
	color: var(--text);

	opacity: 1;
}

::-ms-input-placeholder {
	color: var(--text);
}

.searchbar-select {
	background-color: var(--background);
	color: var(--text);
	padding: 10px;
}

/* CSS for mobile */

@media only screen and (max-width: 426px) {
	.searchbar-container {
		padding: 2vh 2vh 2vh 2vh;
	}
	.searchbar-input {
		width: 50%;
	}
}
