@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.navbar-container {
	position: sticky;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	padding: 2vh 5vh 2vh 5vh;
	background-color: var(--foreground);
	font-family: Nunito Sans;
	color: hsl(0, 0%, 100%);
}

.navbar-anchor {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--text);
}

.navbar-toggle {
	cursor: pointer;
	padding: 1vh;
	color: var(--text);
	background: none;
	border: none;
}
